<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script defer src='/js/static.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index-seen.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/rating.css' />
    <link rel='stylesheet' href='/stylesheets/stars2.0.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <% if (user) { %>
            <a href="/" id="home" <%- page==='home' ? 'class="active"' : '' %>>HOME</a>
            <a href="/movies/new"<%- page==='add' ? 'class="active"' : '' %> >ADD</a>
            <a href="/movies"<%- page==='movies' ? 'class="active"' : '' %> > WATCH LIST</a>
            <a href="/movies/seen"<%- page==='seen' ? 'class="active"' : '' %>>SEEN</a>
            <a href="/logout" id="logout">LOG OUT</a>
            <% } else { %>
                <a href="" id="test" class="unclick"></a>
                <a href="/" id="kino" class="unclick"<%- page==='home' ? 'class="active"' : '' %>>KINO SPISOK</a>
                <a href="/auth/google" id="login">LOG IN</a>
                <% } %>
    </nav>
    <main>