<%- include('./partials/header') %>

<div class="movie-holder-home">
    <% movies.forEach(function(movie){%>
        <div class="movie-home">
            <div id="poster" style="background-image:url(<%= movie.info.Poster%>)"><div id="usercount"><%= movie.users.length %></br>SPISKE</div></div>
            <div id="title" <%- movie.info.Title.length > 50 ? 'class="longtext"' : '' %>>
                <div><%= movie.info.Title%></div>
            </div>
            <div id="director">
                <div class="small">Director</div>
                <div class="big"><%= movie.info.Director%></div>
            </div>
            <div id="year">
                <div class="small">Release Year</div>
                <div class="big"><%= movie.info.Year%></div>
            </div>
            <div id="description">
                <div class="small">Description</div>
                <div class="info"><%= movie.info.Plot%></div>
            </div>
            <div id="links">
                <a id="comments" href="">COMMENTS</a>
                <a id="imdb" target="_blank" href="https://www.imdb.com/title/<%= movie.info.imdbID%>/">IMDB</a>
                <% if (user) {%>
                    <% if ( !movie.users.some(lover => lover.equals(user._id)) && !movie.seenUsers.some(lover => lover.equals(user._id))) {%>
                    <form action="/movies/create?home=true" method="POST">
                        <button id="addbutton" value="<%= movie.info.imdbID%>" name="imdb" type="submit">ADD MOVIE</button>
                    </form>
                    <%}%>
                <%}%>
            </div>
            <div id="reviews">
            <% if (movie.comments.length) { %>
                        <% movie.comments.forEach(function(c) { %>
                        <div id="review-holder">
                            <!-- <td class="review-user"><img style="height:2vmin" src="<%= c.userAvatar %>">&nbsp; -->
                            <div id="usernamecomment"><img style="height:2vmin" src="<%= c.userAvatar %>">&nbsp<%= c.userName %></div>
                            <div id="comment"><%= c.content %></div>
                            <div id="dateofcomment"><%= c.createdAt.toLocaleDateString() %></div>
                                <% if (user && user._id.equals(c.user)) { %>
                                    <form id="commentdelete" action="/comments/<%= c._id %>?_method=DELETE" method="POST"><button
                                            type="submit">X</button>
                                    </form>
                                    <% } %>
                        </div>
                        <% }); %> 
            <% } %>
            <% if (user) { %>  
                <form id="post" method="POST" action="/movies/<%=movie._id%>/comments">
                    <input id="postarea" autocomplete="off" type="text" name="content" placeholder="PRESS ENTER TO SUBMIT COMMENT">
                </form>
            <%} %>
            </div>
        </div>
    <%})%>
</div>

<%- include('./partials/footer') %>



