<%- include('./partials/header') %>

<div class="movie-holder-home">
    <% movies.forEach(function(movie){%>
        <div class="movie-home">
            <div id="poster" style="background-image:url(<%= movie.info.Poster%>)"><div id="usercount"><%= movie.users.length %></br>SPISKE</div></div>
            <div id="title" <%- movie.info.Title.length> 50 ? 'class="bigtext"' : '' %>>
                <div><%= movie.info.Title%></div>
            </div>
            <div id="director">
                <div class="small">Director</div>
                <div class="big"><%= movie.info.Director%></div>
            </div>
            <div id="year">
                <div class="small">Release Year</div>
                <div class="big"><%= movie.info.Year%></div>
            </div>
            <div id="description">
                <div class="small">Description</div>
                <div class="biginfo"><%= movie.info.Plot%></div>
            </div>
            <div id="links">
                <a href="">COMMENTS</a>
                <a href="/movies/<%=movie._id%>">DETAILS</a>
                <% if (user) {%>
                    <% if ( !movie.users.some(lover => lover.equals(user._id)) && !movie.seenUsers.some(lover => lover.equals(user._id))) {%>
                    <form action="/movies/create?home=true" method="POST">
                        <button id="button2" value="<%= movie.info.imdbID%>" name="imdb" type="submit">ADD MOVIE</button>
                    </form>
                    <%}%>
                <%}%>
            </div>
            <% if (movie.comments.length) { %>
            <div id="reviews">
                        <% movie.comments.forEach(function(c) { %>
                        <div id="review-holder">
                            <td class="review-user"><img style="height:2vmin" src="<%= c.userAvatar %>">&nbsp;
                            <div><%= c.userName %></div>
                            <div><%= c.content %></div>
                            <div><%= c.createdAt.toLocaleDateString() %></div>
                                <% if (user && user._id.equals(c.user)) { %>
                                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST"><button
                                            type="submit">X</button>
                                    </form>
                                    <% } %>
                        </div>
                        <% }); %> 
            </div>
            <% } %>
            <% if (user) { %>  
            <div id="post">
                <form id="postpost" method="POST" action="/movies/<%=movie._id%>/comments">
                    <input id="postarea" autocomplete="off" type="text" name="content" placeholder="PRESS ENTER TO SUBMIT REVIEW">
                </form>
            </div>
            <%} %>
        </div>
    <%})%>
</div>

<%- include('./partials/footer') %>



