<%- include('./partials/header') %>

<div class="movie-holder-home">
    <% for (i=0; i < movies.length; i++){%>
        <div class="movie-home">
            <div id="poster" style="background-image:url(<%= movies[i].info.Poster%>)"><div id="usercount"><%= movies[i].users.length %></br>SPISKE</div></div>
            <div id="title" <%- movies[i].info.Title.length > 50 ? 'class="longtext"' : '' %>>
                <div><%= movies[i].info.Title%></div>
            </div>
            <div id="director">
                <div class="small">Director</div>
                <div <%- movies[i].info.Director.length> 25 ? 'class="longdirect"' : 'class="big"' %>><%= movies[i].info.Director%></div>
            </div>
            <div id="year">
                <div class="small">Release Year</div>
                <div class="big"><%= movies[i].info.Year%></div>
            </div>
            <div id="description">
                <div class="small">Description</div>
                <div class="info"><%= movies[i].info.Plot%></div>
            </div>
            <div class="links" id="<%= i %>">
                <button id="comments" class="clicked" >COMMENTS</button>
                <a id="imdb" target="_blank" href="https://www.imdb.com/title/<%= movies[i].info.imdbID%>/">IMDB</a>
                <% if (user) {%>
                    <% if ( !movies[i].users.some(lover => lover.equals(user._id)) && !movies[i].seenUsers.some(lover => lover.equals(user._id))) {%>
                    <form action="/movies/create?home=true" method="POST">
                        <button id="addbutton" value="<%= movies[i].info.imdbID%>" name="imdb" type="submit">ADD MOVIE</button>
                    </form>
                    <%}%>
                <%}%>
            </div>
            <%let ddd = movies[i].info.imdbID %>
            <div id="reviews" class=<%= (dropdown && ddd === dd) ? "" : "dropdown" %>>
            <% if (movies[i].comments.length) { %>
                        <% movies[i].comments.forEach(function(c) { %>
                        <div id="review-holder">
                            <div id="icon" style="background-image: url(<%= c.userAvatar %>);">
                                <% if (user && user._id.equals(c.user)) { %>
                                    <form id="commentdelete" action="/comments/<%= c._id %>?_method=DELETE" method="POST"><button
                                            id= "commentbutton" type="submit">X</button>
                                    </form>
                                <% } %>
                            </div>
                            <div id="usernamecomment"><%= c.userName %></div>
                            <div id="comment"><%= c.content %></div>
                            <div id="dateofcomment"><%= c.createdAt.toLocaleDateString() %></div>
                        </div>
                        <% }); %> 
            <% } %>
            <% if (user) { %>  
                <form id="post" method="POST" action="/movies/<%=movies[i]._id%>/comments">
                    <input id="postarea" autocomplete="off" type="text" name="content" placeholder="PRESS ENTER TO SUBMIT COMMENT">
                </form>
            <%} %>
            </div>
        </div>
    <%}%>
</div>

<%- include('./partials/footer') %>



