<%- include('../partials/header') %>
<div class="movie-holder">
<% if (movies.length === 0) {%>
    <div id="message">CLICK "ADD" TO SEARCH AND ADD MOVIES TO YOUR WATCHLIST</div>
<% }%>
<% movies.forEach(function(movie){%>
    <div class="movie">
        <div id="poster" style="background-image:url(<%= movie.info.Poster%>)"></div>
        <div id="title" <%- movie.info.Title.length > 50  ? 'class="longtext"' : '' %>>
            <div><%= movie.info.Title%></div>
        </div>
        <div id="director">
            <div class="small">Director</div>
            <div <%- movie.info.Director.length > 25 ? 'class="longdirect"' : 'class="big"' %>><%= movie.info.Director%></div>
        </div>
        <div id="year">
            <div class="small">Release Year</div>
            <div class="big"><%= movie.info.Year%></div>
        </div>
        <div id="description">
            <div class="small">Description</div>
            <div class="info"><%= movie.info.Plot%></div>
        </div>
        <div class="links">
            <a id="regular" href="/movies/<%=movie._id%>/rating">SEEN</a>
            <a id="imdb" target="_blank" href="https://www.imdb.com/title/<%= movie.info.imdbID%>/">IMDB</a>
            <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST"><button id="delete" type="submit">DELETE</button>
            </form>
        </div>
    </div>
<%})%>
</div>
<%- include('../partials/footer') %>