<%- include('../partials/header') %>
    <div class="movie-holder">
        <% movies.forEach(function(movie){%>
            <div class="movie" style="border:.5vmin solid RGB(43,67,224) ">
                <div id="poster" style="background-image:url(<%= movie.info.Poster%>)">
                    <div id="seenrating">
                        <% let rating = movie.ratings.find(function(rating){%>
                            <%return rating.user.toString() === user._id.toString()});%>
                        <form id="ratingform" class="rating<%= rating.rating%>" action="/movies/<%=movie._id%>/seen?update=true" method="POST">
                                <button class="clipstar" value="1" name="rating" type="submit"></button>
                                <button class="clipstar" value="2" name="rating" type="submit"></button></br>
                                <button class="clipstar" value="3" name="rating" type="submit"></button>
                                <button class="clipstar" value="4" name="rating" type="submit"></button>
                                <button class="clipstar" value="5" name="rating" type="submit"></button>
                        </form>
                    </div>
                </div>
                <div id="title" <%- movie.info.Title.length> 50 ? 'class="longtext"' : '' %>>
                    <div><%= movie.info.Title%></div>
                </div>
                <div id="director">
                    <div class="small">Director</div>
                    <div <%- movie.info.Director.length> 25 ? 'class="longdirect"' : 'class="big"' %>><%= movie.info.Director%></div>
                </div>
                <div id="year">
                    <div class="small">Release Year</div>
                    <div class="big"><%= movie.info.Year%></div>
                </div>
                <div id="description">
                    <div class="small">Description</div>
                    <div class="info"><%= movie.info.Plot%></div>
                </div>
                <div id="links">
                    <a id = "regular" href="/movies/<%=movie._id%>/seen">UNSEE</a>
                    <a id="imdb" target="_blank" href="https://www.imdb.com/title/<%= movie.info.imdbID%>/">IMDB</a>
                    <form action="/movies/<%= movie._id %>?_method=DELETE&seen=true" method="POST"><button id="delete"
                            type="submit">DELETE</button>
                    </form>
                </div>
            </div>
            <%})%>
    </div>
    <%- include('../partials/footer') %>






